.hover-bg-twitter-blue:focus, .hover-bg-twitter-blue:hover {
    background-color: #0084b4
}

.hover-bg-linkedIn-blue:focus, .hover-bg-linkedIn-blue:hover {
    background-color: #00A0DC
}

.hover-bg-medium:focus, .hover-bg-medium:hover {
    background-color: #00AB6C
}

.hover-bg-google:focus, .hover-bg-google:hover {
    background-color: #db3236
}

.hover-bg-google2:focus, .hover-bg-google2:hover {
    background-color: #4885ed
}